/* CSS declarations go here */
.nav-wrapper
{
	background-color: #546e7a;
}

.nav-wrapper .brand-logo
{
	font-family: "Lobster";
	padding-left: 10px;
	text-decoration: none;
}

.right li a
{
	text-decoration: none;
	color: #fff;
}

body
{
	font-family: "Roboto";
	background-color: #fff;
	height: 100%;
}
.home-panel
{
	text-align: center;
}

.sidebar .collection a
{
	text-decoration: none;
}

.login-form label
{
	font-size: 20px;
	margin-bottom: 0;
}

.register-form label
{
	font-size: 20px;
	margin-bottom: 0;
}

.type-select
{
	display: block;
}

/*Alert styles*/
.fade.in {
    opacity: 1;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger, .alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}
.alert-info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
